*{
    padding: 0;
    margin: 0;
}

#header{
    width: auto;
    height: 130px;
    background-color: rgb(5, 5, 5);
    display: flex;
}

#logo1{
    width: 350px;
    height: 100px;
    margin-top: 5px;
    margin-left: 50px;
}

nav ul{
    width: 100%;
    margin-left: 20px;
    margin-top: 35px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}

#l1{
   display: none;
}

nav a{
    height: 100%;
    font-size: 40px;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

nav a:hover{
    transform: scale(1.1); /* Scale up the link text on hover */
    color: #497dc0; /* Change text color on hover */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Add a subtle shadow */
}

.sidebar {
    position: fixed;
    right: 0;
    top: 1px;
    height: 100vh;
    width: 250px;
    z-index: 109;
    background-color: rgb(5, 5, 5);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none; /* Hide sidebar by default */
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}



.sidebar li{
    width: 100%;
    margin-top: 50px;
}

.sidebar a{
    width: 100%;
}

.sidebar a:hover{
    transform: scale(1.1); /* Scale up the link text on hover */
    color: #497dc0; /* Change text color on hover */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Add a subtle shadow */
}


#l2 {
    position: absolute;
    margin-left: 150px; /* Adjust spacing from the right if needed */
    margin-top: 5px;
}

#l2:hover{
    transform: none
}




#in1{
    width: 300px;
    height: 30px;
    margin-top: 50px;
    margin-left: 70px;
    border-radius: 5px;
    border: none;
    background-color: white;
}

#btn1{
    width: 50px;
    height: 26px;
    margin-top: 52px;
    margin-left: -52px;
    border: none;
    border-radius: 5px;
    background-color: rgb(227, 223, 223);
}

#sign_in{
    width: 30px;
    height: 30px;
    margin-top: 50px;
    margin-left: 20px;
    display: block;
    border-radius: 5px;
    border: none;
    background-color: white;
    font-weight: 600;
}

/*Body*/

#section1{
    width: auto;
    height: 1000px;
}

#h1{
    margin-left: 590px;
    margin-top: 20px;
    font-size: 45px;
}


#hr{
    margin-top: 500px;
    height: 10px;
    color: black;
}


/*Top news 1 -----------------------------*/

#new1{
    float: left;
    width: 350px;
    height: 340px;
    border: 3px solid black;
    border-radius: 10px;
    margin-left: 150px;
    margin-top: 50px;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

#new1:hover {
    transform: scale(1.05); /* Slight scaling effect */
    box-shadow: 5px 5px 20px #497dc0;; /* Add a shadow on hover */
    background-color: #f0f0f0; /* Light background color change on hover */
}

#img1{
    width: 350px;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 3px solid black;
    opacity: 0.9;
}

#p1{
    font-size: 20px;
    color: red;
    margin-left: 40px;
    margin-top: 5px;
}

#p11{
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
    margin-left: 5px;
}

#btn3{
    border: none;
    font-weight: bold;
    background: none;
}

#linkbuton{
    text-decoration: none;
    color: rgb(6, 27, 147);
}

#a1{
    text-decoration: none;
    color: black;
    margin-left: 120px;
    position: absolute;
    margin-top: 10px;
}

/*Top News 2--------------------------------------------------------*/

#new2{
    float: left;
    width: 350px;
    height: 340px;
    border: 3px solid black;
    border-radius: 10px;
    margin-left: 100px;
    margin-top: 50px;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

#new2:hover {
    transform: scale(1.05); /* Slight scaling effect */
    box-shadow: 5px 5px 20px #497dc0;; /* Add a shadow on hover */
    background-color: #f0f0f0; /* Light background color change on hover */
}

#img2{
    width: 350px;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 3px solid black;
    opacity: 0.9;
}

#p2{
    font-size: 20px;
    color: red;
    margin-left: 35px;
    margin-top: 5px;
}

#a2{
    text-decoration: none;
    color: black;
    margin-left: 125px;
    position: absolute;
    margin-top: 10px;
}

/*Top news3 ---------------------------------------------*/

#new3{
    float: left;
    width: 350px;
    height: 340px;
    border: 3px solid black;
    border-radius: 10px;
    margin-left: 100px;
    margin-top: 50px;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

#new3:hover {
    transform: scale(1.05); /* Slight scaling effect */
    box-shadow: 5px 5px 20px #497dc0;; /* Add a shadow on hover */
    background-color: #f0f0f0; /* Light background color change on hover */
}

#img3{
    width: 350px;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 3px solid black;
    opacity: 0.9;
}

#p3{
    font-size: 20px;
    color: red;
    margin-left: 40px;
    margin-top: 5px;
}

#a3{
    text-decoration: none;
    color: black;
    margin-left: 130px;
    position: absolute;
    margin-top: 10px;
}

#h2{
    margin-top: 50px;
    margin-left: 650px;
    font-size: 45px;
}

#p22{
    font-size: 20px;
    color: red;
    margin-left: 80px;
    margin-top: 5px;
}

#p33{
    font-size: 20px;
    color: red;
    margin-left: 90px;
    margin-top: 5px;
}




/*Footer*/

#footer{
    width: auto;
    height: 480px;
    margin-top: 130px;
    background-color: rgb(16, 23, 32);
    display: flex;
    position: static;
}


#p5 {
    font-size: 40px;
    color: white;
    margin-left: 100px;
    margin-top: 50px;
    width: 200px;
    display: inline; /* Ensure it's treated as inline */
    white-space: nowrap; /* Prevent wrapping */
}

#s6 {
    color: rgb(255, 0, 0);
    display: inline; 
}

#footer-section1{
    margin-top: 150px;
    margin-left: -200px;
    width: 450px;
    float: left;
}

#pf{
    color: white;
    font-size: 30px;
    line-height: 1.3;
}


#v1{
    border-left: 2.5px solid rgb(198, 197, 197);
    height: 225px;
    margin-left: -25px;
    margin-right: 60px;
    margin-top: -100px
}


#footer-section2{
    float: left;
    margin-top: 250px;
    margin-left: 60px;
    display: flex;
}


#a1{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 35px;
    height: 50px;
    margin-left: 30px;
    margin-top: -10px;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

#v2{
    border-left: 2.5px solid rgb(198, 197, 197);
    height: 225px;
    margin-left: 130px;
    margin-top: -100px;
}

#a2{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 35px;
    margin-left: 210px;
    margin-top: -10px;
    height: 50px;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

#v3{
    border-left: 2.5px solid rgb(198, 197, 197);
    height: 225px;
    margin-left: 190px;
    margin-top: -100px;
}

#a3{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 35px;
    margin-left: 390px;
    margin-top: -10px;
    height: 50px;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

#a1:hover, #a2:hover, #a3:hover {
    transform: scale(1.1); /* Scale up the link text on hover */
    color: #497dc0; /* Change text color on hover */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Add a subtle shadow */
}

#v4{
    border-left: 2.5px solid rgb(198, 197, 197);
    height: 225px;
    margin-left: 200px;
    margin-top: -100px;
}



#social-media{
    display: flex;
    flex-direction: column; /* Stack the links vertically */
    margin-left: 150px; 
    margin-top: 100px;
    float: left;
    line-height: 1.8;
}

#p6, #p7 {
    font-size: 26px;
    color: rgba(26, 96, 218, 0.918);
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, text-shadow 0.3s ease-in-out; 
    margin-top: -15px;
    margin-bottom: 35px; /* Add some space between the links */
    text-decoration: none; 
    padding: 8px 20px; /* Add some padding for better appearance */
    border: 2px solid rgba(26, 96, 218, 0.918); /* Add a border */
    border-radius: 40px; /* Make the corners round */
    display: inline-block; /* Ensure the border fits around the text */
}

#p6:hover, #p7:hover {
    transform: scale(1.2); /* Scale up the text/icons slightly on hover */
    color: rgb(228, 25, 25); /* Change color on hover */
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); /* Add a subtle shadow on hover */
    border-color: rgb(228, 25, 25); /* Change border color on hover */
}



#rights{
    position: absolute;
    margin-top: 420px;
    width: auto;
    margin-left: 100px;
}

#p8{
    font-size: 25px;
    color: white;
}

#p9{
    font-size: 25px;
    color: white;
    margin-left: 900px;
}


@media screen and (max-width: 1024px) {
    #header {
        flex-wrap: wrap; /* Allow elements to wrap onto the next line */
        justify-content: space-between; /* Spread the items evenly across the line */
        padding: 10px; /* Add some padding for smaller screens */
        height: 80px;
        display: flex;
        align-items: center; /* Align items vertically */
    }
    
    #logo1 {
        width: 250px;
        height: 80px;
        margin-right: 20px; /* Increase margin to create space between logo and links */
        margin-left: -25px;
        margin-top: -5px;
    }
    
    nav ul{
        width: 100%;
        margin-left: -35px;
        margin-top: 5px;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    nav li{
        height: 50px;
    }
    
    #l1{
        margin-left: 60px;
        margin-top: 50px;
        font-size: 30px;
    }
    
    nav a{
        white-space: nowrap; 
        height: 100%;
        font-size: 30px;
        padding: 0 30px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: white;
        transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
    }
    
    nav a:hover{
        transform: scale(1.1); /* Scale up the link text on hover */
        color: #497dc0; /* Change text color on hover */
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Add a subtle shadow */
    }
    
    .sidebar {
        position: fixed;
        right: 0;
        top: 1px;
        height: 100vh;
        width: 250px;
        z-index: 109;
        background-color: rgb(5, 5, 5);
        backdrop-filter: blur(10px);
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
        display: none; /* Hide sidebar by default */
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    
    
    
    .sidebar li{
        width: 100%;
        margin-top: 50px;
    }
    
    .sidebar a{
        width: 100%;
    }
    
    .sidebar a:hover{
        transform: scale(1.1); /* Scale up the link text on hover */
        color: #497dc0; /* Change text color on hover */
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Add a subtle shadow */
    }
    
    
    #l2 {
        position: absolute;
        margin-left: 150px; /* Adjust spacing from the right if needed */
        margin-top: 5px;
    }
    
    #l2:hover{
        transform: none
    }
    
    #in1 {
        display: block;
        width: 200px;
        height: 30px;
        margin-left: auto; /* Pushes the input field to the right */
        margin-right: 125px; /* Adjust margin to create space between in1 and links */
        margin-top: 3px;
        border-radius: 5px;
        border: none;
        background-color: white;
    }

    #btn1{
        display: block;
        width: 50px;
        height: 26px;
        margin-top: -77px;
        margin-left: 827px;
        border: none;
        border-radius: 5px;
        background-color: rgb(227, 223, 223);
    }

    #sign_in {
        width: 30px;
        height: 30px;
        margin-top: -77px;
        margin-left: 30px; 
        display: block;
        border-radius: 5px;
        border: none;
        background-color: white;
        font-weight: 600;
    }


    /*Body*/

    #section1{
        width: auto;
        height: 2000px;
        background-color: f4f4f4;
    }
    
    #h1{
        margin-left: 350px;
        margin-top: 20px;
        font-size: 45px;
    }

    #hr{
        margin-top: 900px;
        height: 10px;
        color: black;
    }

    /*Top News 1*/

    #new1{
        float: left;
        width: 350px;
        height: 340px;
        border: 3px solid black;
        border-radius: 10px;
        margin-left: 120px;
        margin-top: 50px;
        transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
    }
    
    #new1:hover {
        transform: none; 
    }


    #new3{
        float: left;
        width: 350px;
        height: 340px;
        border: 3px solid black;
        border-radius: 10px;
        margin-left: 350px;
        margin-top: 50px;
        transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
    }
    
    #new3:hover {
        transform: none;
    }


    #h2{
        margin-top: 80px;
        margin-left: 400px;
        font-size: 45px;
    }

    /*Footer*/

    #footer{
        width: auto;
        height: 960px;
        margin-top: -40px;
        background-color: rgb(16, 23, 32);
        display: flex;
    }

    #p5 {
        font-size: 40px;
        color: white;
        margin-left: 340px;
        margin-top: 50px;
        width: 200px;
        display: inline; /* Ensure it's treated as inline */
        display: block;
        white-space: nowrap; /* Prevent wrapping */
    }

    #pf{
        color: white;
        font-size: 30px;
        line-height: 1.3;
        margin-left: -80px;
    }

    #v1{
        display: none;
    }
    
    #footer-section2{
        margin-top: 500px;
        margin-left: -535px;
        display: flex;
    }

    #v2{
        border-left: 2.5px solid rgb(198, 197, 197);
        height: 225px;
        margin-left: 160px;
        margin-top: -100px;
    }

    #v3 {
        border-left: 2.5px solid rgb(198, 197, 197);
        height: 225px;
        margin-left: 200px;
        margin-top: -100px;
    }

    #v4{
        display: none;
    }

    #social-media{
        position: absolute;
        flex-direction: row;
        margin-left: 350px; 
        margin-top: 750px;
        float: left;
        gap: 25px;
    }

    #rights{
        position: absolute;
        margin-top: 900px;
        width: auto;
        margin-left: 310px;
    }
}


@media screen and (max-width: 720px){ /*-------------------------------------*/

    *{
    padding: 0;
    margin: 0;
}

#header{
    width: auto;
    height: 90px;
    background-color: rgb(12, 12, 12);
    display: flex;
}

#logo1{
    width: 200px;
    height: 70px;
    margin-top: 10px;
    margin-left: -5px;
}

#defaultbar{
    display: none;
}



.sidebar {
    position: absolute;
    right: 0;
    top: -20px;
    width: 720px;
    height: 90px;
    z-index: 109;
    background-color: rgb(12, 12, 12);
    display: none; /* change display to flex for correct layout */
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
}

.sidebar li {
    width: 200px;
    margin-top: 55px;
    margin-left: 5px;
    list-style: none;
}

.sidebar a {
    font-size: 30px;
    margin-top: -15px;
    /* consider removing position: absolute for smoother layout */
}

#l2 {
    margin-left: 585px;
    margin-top: 50px;
}



#in1{
    position: absolute;
    width: 220px;
    height: 30px;
    margin-top: 10px;
    margin-left: 210px;
    border-radius: 5px;
    border: none;
    background-color: white;
}

#btn1{
    position: absolute;
    width: 50px;
    height: 26px;
    margin-top: 10px;
    margin-left: 378px;
    border: none;
    border-radius: 5px;
    background-color: rgb(227, 223, 223);
}

#sign_in{
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 460px;
    display: block;
    border-radius: 5px;
    border: none;
    background-color: white;
    font-weight: 600;
}

#l1{
    display: block; /* Make sure it's visible */
    position: absolute;
    margin-left: 600px; /* Adjust positioning if necessary */
    margin-top: 10px;
    z-index: 100; /* Ensure it's on top of other elements */
}

#section1{
    width: auto;
    height: 2700px;
}

#h1{
    margin-left: 170px;
    margin-top: 20px;
    font-size: 45px;
}

#hr{
    margin-top: 900px;
    height: 10px;
    color: black;
}


/*Article 1*/

#new1{
    float: left;
    width: 350px;
    height: 340px;
    border: 3px solid black;
    border-radius: 10px;
    margin-left: 190px;
    margin-top: 50px;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

#new1:hover {
    transform: none; 
}



/*Article 2*/

#new2{
    float: left;
    width: 350px;
    height: 340px;
    border: 3px solid black;
    border-radius: 10px;
    margin-left: 190px;
    margin-top: 50px;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

#new2:hover {
    transform: none; 
}


/*Article 3*/

#new3{
    float: left;
    width: 350px;
    height: 340px;
    border: 3px solid black;
    border-radius: 10px;
    margin-left: 190px;
    margin-top: 50px;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

#new3:hover {
    transform: none; 
}

#hr{
    margin-top: 1250px;
}

#h2{
    margin-top: 20px;
    margin-left: 250px;
}


/*Footer*/

#footer{
    width: auto;
    height: 880px;
    margin-top: -30px;
    background-color: rgb(16, 23, 32);
    display: flex;
    position: static;
}

#p5 {
    position: absolute;
    font-size: 40px;
    color: white;
    margin-left: 200px;
    margin-top: 50px;
    width: 200px;
    display: inline; /* Ensure it's treated as inline */
    white-space: nowrap; /* Prevent wrapping */
}

#s6 {
    color: rgb(255, 0, 0);
    display: inline; 
}

#footer-section1{
    margin-top: 150px;
    margin-left: 180px;
    width: 450px;
    float: left;
}

#pf{
    color: white;
    font-size: 30px;
    line-height: 1.3;
}

#v1{
    display: none;
}

#footer-section2{
    margin-top: 500px;
    margin-left: -535px;
    display: flex;
}

#v2{
    border-left: 2.5px solid rgb(198, 197, 197);
    height: 225px;
    margin-left: 160px;
    margin-top: -100px;
}

#v3 {
    border-left: 2.5px solid rgb(198, 197, 197);
    height: 225px;
    margin-left: 200px;
    margin-top: -100px;
}

#v4{
    display: none;
}

#social-media{
    position: absolute;
    display: flex;
    flex-direction: row; /* Stack the links vertically */
    margin-left: 90px; 
    margin-top: 680px;
    float: left;
    line-height: 1.8;
}

#p6, #p7 {
    font-size: 26px;
    color: rgba(26, 96, 218, 0.918);
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, text-shadow 0.3s ease-in-out; 
    margin-top: -15px;
    margin-left: 45px; 
    text-decoration: none; 
    padding: 8px 20px; 
    border: 2px solid rgba(26, 96, 218, 0.918); 
    border-radius: 40px; 
    display: inline-block; 
}


#rights {
    position: absolute;
    display: block; 
    margin-top: 780px;
    margin-left: 185px;
    text-align: center; 
    z-index: 10; 
}

#rights p {
    font-size: 20px; 
    color: white; 
    display: block; 
}
}


@media screen and (max-width: 420px){ /*---------------------------------------------------------*/

*{
    padding: 0;
    margin: 0;
    }
    
 #header{
    width: auto;
    height: 50px;
    background-color: rgb(5, 5, 5);
    display: flex;
    }  
    
#logo1{
    width: 150px;
    height: 50px;
    margin-top: 5px;
    margin-left: -25px;
    }
    
#defaultbar{
    display: none;
    }
    
    .sidebar {
        position: absolute;
        right: 0;
        top: -20px;
        width: 420px;
        height: 60px;
        z-index: 109;
        background-color: rgb(5, 5, 5);
        display: none;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    }
    
    .sidebar li {
        width: 110px;
        margin-top: 18px; 
    }
    
    .sidebar a {
        position: absolute;
        width: 50px;
        font-size: 25px;
        margin-left: -10px;
        margin-top: -18px; 
    }
    
    #l2 {
        position: absolute;
        margin-left: 350px;
        margin-top: 40px;
        width: 38px;
        height: 38px;
    }
    
    #l2:hover{
        transform: none
    }
    
    
#in1{
    position: absolute;
    width: 200px;
    height: 25px;
    margin-top: 5px;
    margin-left: 110px;
    border-radius: 5px;
    border: none;
    background-color: white;
    }
    
#btn1{
    position: absolute;
    width: 50px;
    height: 22px;
    margin-top: 2px;
    margin-left: 258px;
    border: none;
    border-radius: 5px;
    background-color: rgb(227, 223, 223);
    }
    
#sign_in{
    width: 30px;
    height: 25px;
    margin-top: 8px;
    margin-left: 320px;
    display: block;
    border-radius: 5px;
    border: none;
    background-color: white;
    font-weight: 600;
    }

#l1 {
    display: block;  
    margin-left: 355px;
    margin-top: 15px;
    }


#section1{
    width: auto;
    height: 2650px;
    }
    
#h1{
    margin-left: 35px;
    margin-top: 20px;
    font-size: 40px;
    }
    
#hr{
    margin-top: 900px;
    height: 10px;
    color: black;
    }


    /*Article 1*/

#new1{
    float: left;
    width: 350px;
    height: 340px;
    border: 3px solid black;
    border-radius: 10px;
    margin-left: 35px;
    margin-top: 50px;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

#new1:hover {
    transform: none; 
}



/*Article 2*/

#new2{
    float: left;
    width: 350px;
    height: 340px;
    border: 3px solid black;
    border-radius: 10px;
    margin-left: 35px;
    margin-top: 50px;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

#new2:hover {
    transform: none; 
}


/*Article 3*/

#new3{
    float: left;
    width: 350px;
    height: 340px;
    border: 3px solid black;
    border-radius: 10px;
    margin-left: 35px;
    margin-top: 50px;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
    }

#new3:hover {
    transform: none; 
    }

#hr{
    margin-top: 1250px;
    }
    
#h2{
    margin-top: 20px;
    margin-left: 95px;
    }


    /*Footer*/
    
    #footer{
        width: auto;
        height: 1180px;
        margin-top: 50px;
        background-color: rgb(16, 23, 32);
        display: flex;
        position: static;
    }
    
    #p5 {
        position: absolute;
        font-size: 35px;
        color: white;
        margin-left: 80px;
        margin-top: 50px;
        display: inline; /* Ensure it's treated as inline */
        white-space: nowrap; /* Prevent wrapping */
    }
    
    #s6 {
        color: rgb(255, 0, 0);
        display: inline; 
    }
    
    #footer-section1{
        margin-top: 150px;
        margin-left: 100px;
        width: 300px;
        float: left;
    }
    
    #pf{
        color: white;
        font-size: 25px;
        line-height: 1.3;
    }
    
    #v1{
        display: none;
    }
    
    #footer-section2{
        position: absolute;
        margin-top: 400px;
        margin-left: 140px;
        display: flex;
    }
    
    
    #a1{
        display: block;
        text-decoration: none;
        color: white;
        font-size: 45px;
        margin-left: 5px;
        height: 50px;
        transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
    }
    
    #v2{
        transform: rotate(90deg);
        border-bottom: 2.5px solid rgb(198, 197, 197);
        height: 255px;
        margin-left: 70px;
        margin-top: 5px;
    }
    
    #a2{
        display: block;
        text-decoration: none;
        color: white;
        font-size: 40px;
        margin-left: 5px;
        margin-top: 220px;
        height: 50px;
        transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
    }
    
    #v3{
        transform: rotate(90deg);
        border-bottom: 2.5px solid rgb(198, 197, 197);
        height: 260px;
        margin-left: -5px;
        margin-top: 220px;
    }
    
    #a3{
        display: block;
        white-space: nowrap;
        text-decoration: none;
        color: white;
        font-size: 40px;
        margin-left: -15px;
        margin-top: 425px;
        height: 50px;
        transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
    }
    
    #v4{
        display: none;
    }
    
    
    
    
    #social-media{
        position: absolute;
        display: flex;
        flex-direction: row; /* Stack the links vertically */
        margin-left: 5px;
        margin-top: 1000px;
        float: left;
        line-height: 1.8;
    }
    
    #p6, #p7 {
        font-size: 22px;
        color: rgba(26, 96, 218, 0.918);
        transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, text-shadow 0.3s ease-in-out; 
        margin-top: -15px;
        margin-left: 15px; /* Add some space between the links */
        text-decoration: none; 
        padding: 8px 20px; /* Add some padding for better appearance */
        border: 2px solid rgba(26, 96, 218, 0.918); /* Add a border */
        border-radius: 40px; /* Make the corners round */
        display: inline-block; /* Ensure the border fits around the text */
    }
    
    
    #rights {
        display: block; /* Ensure it's visible */
        position: absolute;
        margin-top: 1080px;
        margin-left: 40px;
        text-align: center; 
        z-index: 10; 
    }
    
    #rights p {
        font-size: 20px; 
        color: white; 
        display: block; 
    }
}
